body{
  
  border-radius: 5px;
  width: 80vw;
  align-content: flex-end;
  position: relative;
  margin: auto;
  width: 80vw;
  background-color: lightgrey;
  
}

h3, h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: vh;
  margin-top: px; 
}

h2{
  padding-bottom: -9vh;
  margin-bottom: -1vh;
}

.text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 75px;
  margin-bottom: 1px;
  padding-bottom: 0px;
  margin-top: 7vh;
  padding-top: 10vh;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center; 
  line-height: 3vh;
  color: gray;
}

b{
  color: black;
}

.wrap{
  
  background-color: whitesmoke;
  
}

button{
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 20px 40px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn{
  display: flex;
  justify-content: center;
  
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 8vw);
    grid-gap: 10px;
    
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 5px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    margin-left: 600px;
    margin-top: 300px;
    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }